<header class="py-3 mb-3 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle" id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="logo">{{"{re}"}}</span>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownNavLink" style="">
        <li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>
        <li><a class="dropdown-item" href="#">Inventory</a></li>
        <li><a class="dropdown-item" href="#">Customers</a></li>
        <li><a class="dropdown-item" href="#">Products</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Reports</a></li>
        <li><a class="dropdown-item" href="#">Analytics</a></li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <form class="w-100 me-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid pb-3">
  <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
    <div class="bg-light border rounded-3">
      <pre>{{"hello world"}}</pre>
    </div>
    <div class="bg-light border rounded-3">

      <div class="container">
        <div class="row align-items-end pt-4">
          <div class="col-md">
            <h1 class="display-3">
              <span class="fw-lighter">{{basicInfo.name}} </span><span class="fw-bold border-bottom">{{basicInfo.nameHighlight}}</span>
            </h1>
            <p class="lead font-dev m-0">{{basicInfo.currentPosition}}</p>
          </div>
          <div class="col-md text-end lead contacts">
            <a class="d-block" href="mailto:mdhilwan@gmail.com">{{basicInfo.contact}}</a>
            <a *ngIf="false" class="d-block" href="tel:+1-(312)-358-7984">🇺🇸 +1-(312)-358-7984</a>
            <a *ngIf="false" class="d-block" href="tel:+65-9017-2609">🇸🇬 +65-9017-2609</a>
          </div>
        </div>
        <hr class="hr-thick">
        <div class="row">
          <div class="col-md-9">
            <div class="font-playfair lead white-space-pre">
              {{basicInfo.mainDescription}}
            </div>
            <h5 class="font-dev py-5">Skills</h5>
            <div class="skills mb-5">
              <div class="row">
                <div class="col-md">Self-taught</div>
                <div class="col-md">Software Engineering</div>
                <div class="col-md">Problem Solving</div>
              </div>
              <div class="row">
                <div class="col-md">Dev Team Management</div>
                <div class="col-md">UI / UX focused</div>
                <div class="col-md">Agile (SAFe)</div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h4>Basic</h4>
            <ul>
              <li><strong>Age -- </strong> {{basicInfo.base.age}}</li>
              <li><strong>Gender -- </strong> {{basicInfo.base.gender}}</li>
              <li><strong>Nationality -- </strong> {{basicInfo.base.nationality}}</li>
              <li><strong>Location -- </strong>{{basicInfo.base.location}}</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
